article {
	figure {
		overflow-x: auto;
	}

	img {
		display: inline-block;
		max-height: 75vh;
		max-width: 100%;
		vertical-align: middle;
		border-radius: 0.5rem;
	}

	ul,
	ol {
		padding-left: 1rem;
	}

	ul li {
		list-style: square;
	}

	blockquote {
		border-left: 4px solid var(--reset-css-background-muted);
		padding: 1rem;
		footer {
			margin-top: 1rem;
			cite {
				opacity: 0.75;
			}
		}
	}

	table {
		background: var(--reset-css-background-secondary);

		th,
		td {
			border-bottom: 1px solid var(--reset-css-background-muted);
			padding: 0.5rem;
		}

		thead th {
			border-bottom: 4px solid var(--reset-css-background-muted);
		}

		min-width: 100%;
		border-collapse: collapse;
		text-align: left;

		tbody {
			tr:nth-child(2n-1) {
				background: var(--reset-css-background-primary);
			}
		}
	}

	ins {
		color: var(--reset-css-success-background);
	}

	del {
		color: var(--reset-css-danger-background);
	}

	mark {
		background: #ffff00;
		border-radius: 0.25rem;
		padding: 0.25rem;
	}

	kbd {
		border-radius: 0.25rem;
		padding: 0.25rem;
		font-family: monospace;
		font-weight: bold;
		background: var(--reset-css-foreground-primary);
		color: var(--reset-css-background-primary);
	}

	progress {
		width: 100%;
	}

	details {
		background: var(--reset-css-background-primary);
		padding: 1rem;
		border: 1px solid var(--reset-css-background-muted);
		border-radius: 0.5rem;

		&[open] > summary {
			border-bottom: 1px solid var(--reset-css-background-muted);
			padding-bottom: 1rem;
			margin-bottom: 1rem;
		}

		summary {
			user-select: none;
			cursor: pointer;
		}
	}
}
