fieldset {
	border: 0;
	outline: 0;
}

label {
	display: block;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
	width: 100%;
}

select,
input:not([type]),
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="email"],
input[type="text"] {
	display: block;
	padding: 0.5rem;
	appearance: none;
	outline: 0;
	font-size: 1em;
	border: 0;
	background-color: var(--reset-css-background-primary);
	color: var(--reset-css-foreground-primary);
	border: 1px solid var(--reset-css-background-tertiary);
	border-radius: 0.5rem;

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.75;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5rem;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	border: 0;
	display: block;
	border-radius: 0.5em;
	text-align: center;
	color: var(--reset-css-accent-text);
	padding: 0.5em 1em;
	font-weight: bold;
	font-size: 1rem;
	background-color: var(--reset-css-accent-primary);

	&:hover {
		cursor: pointer;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.75;
	}
}

input[aria-invalid="false"],
select[aria-invalid="false"],
textarea[aria-invalid="false"] {
	border-color: var(--reset-css-success-background);
}

input[aria-invalid="true"],
select[aria-invalid="true"],
textarea[aria-invalid="true"] {
	border-color: var(--reset-css-danger-background);
}
