* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	color: var(--reset-css-foreground-primary);
	background-color: var(--reset-css-background-primary);
	font-family: var(--reset-css-font-family-body);
	font-size: var(--reset-css-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: var(--reset-css-font-family-title);
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

a {
	color: var(--reset-css-accent-background);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ol,
ul {
	padding-left: var(--reset-css-space-double);
}
