* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: sans-serif;
}

body {
	color: var(--reset-css-foreground-primary);
	background: var(--reset-css-background-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

a {
	color: var(--reset-css-accent-primary);
	font-weight: bold;
	text-decoration: none;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

ol,
ul {
	padding-left: 2rem;
}
