:root {
	--reset-css-accent-primary: #015eb8;
	--reset-css-accent-secondary: #015eb8;
	--reset-css-accent-text: #ffffff;

	--reset-css-background-primary: #ffffff;
	--reset-css-background-secondary: #f8f8f8;
	--reset-css-background-muted: #e5e5e5;

	--reset-css-foreground-primary: #202020;
	--reset-css-foreground-secondary: #616161;
}

@media (prefers-color-scheme: dark) {
	:root {
		--reset-css-accent-primary: #0078d4;
		--reset-css-accent-secondary: #0078d4;
		--reset-css-accent-text: #ffffff;

		--reset-css-background-primary: #202020;
		--reset-css-background-secondary: #181818;
		--reset-css-background-muted: #3b3b3b;

		--reset-css-foreground-primary: #d7d7d7;
		--reset-css-foreground-secondary: #868686;
	}

	html {
		color-scheme: dark;
	}
}
